.App {
    text-align: left;
    max-width: 60%;
    margin-inline: auto;
}

.formSection {
    height: auto;
    margin-bottom: 20px;
}

.doubleSection {
    display: flex;
    justify-content: space-between;
}

.formSection h2 {
    margin-bottom: 5px;
}

button {
    font-size: 1rem;
    height: initial;
    align-self: flex-end;
}

.textBox {
    height: fit-content;
    display: flex;
    align-items: flex-start;
}

.doubleSection .textBox {
    flex-direction: column;
}

.editor {
    height: fit-content;
}
